<div class="header">
  <a href="#default" class="logo">
      <img src="/assets/img/anylogo.jpg" alt="logo">
  </a>
  <!-- <div class="header-right">
    <a class="active" href="#home">Info</a>
    <a href="#contact">Find</a>
    <a href="#about">Details</a>
  </div> -->

  <div class="header-right">
    <a routerLinkActive="active" 
       routerLink="/info">Info</a> 

    <a routerLinkActive="active" 
       routerLink="/find">Find</a> 

    <a routerLinkActive="active" 
      routerLink="/final">Final</a> 

    <a routerLinkActive="active" 
      routerLink="/contentful">Contentful</a> 
      
  </div>

</div>

<div style="padding-left:20px">
  <h4>Dev</h4>
</div>
